@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 0 2%;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
}

header .center img {
    width: 180px;
    float: right;
    padding: 20px 0;
}

main .banner {
    height: 500px;
    background-image: url('../images/main-img.jpg');
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner img {
    width: 50px;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box {
    width: 300px;
    padding-top: 40px;
    margin-right: 40px;
    float: right;
}

.form-box h2 {
    line-height: 20px;
    font-weight: 300;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.856);
    padding: 25px 15px;
}

.form-box form {
    background-color:rgba(255, 255, 255, 0.6);
    padding: 15px;
}

.form-box form label, .form-box form input {
    display: block;
}

form input {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
}

form label {
    margin-top: 15px;
    font-size: 13px;
    text-shadow: .5px .5px .5px white;
}

form input:focus {
    outline: none;
}

form input[type="submit"] {
    background-color: #332270;
    color: white;
    cursor: pointer;
    margin: 20px auto 20px auto;
}

form input[type="submit"]:hover {
    background-color: #423081; 
}

form input[type="submit"]:active {
    width: 260px;
}

form p {
    font-size: 12px;
    text-shadow: .5px .5px .5px white;
}

.one, .two, .three, .four, .five {
    border-bottom: 2px solid white;
    
}

.one {
    text-align: center;
    background-color: #EAEFF2;
    width: 100%;
    line-height: 35px;
    padding: 60px;
}

.one h2 {
    font-weight: 300;
}

.overlay {
    width: 100%;
    height: 230px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
}

.sunset {
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: right;
    position: relative;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.sunset img {
    width: 100%;
    position: absolute;
    top: -180px;
    transition: 3s;
    opacity: 40%;
}

.sunset img:hover {
    transform: scale(1.2, 1.2);
    opacity: 100%;
}


.sunset-text {
    width: 40%;
    height: 230px;
    float: left;
    background-color: #E8F6FF;
}

.sunset-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.door {
    
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: left;
    position: relative;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.door img {
    width: 100%;
    position: absolute;
    top: -180px;
    transition: 3s;
    opacity: 40%;
}

.door img:hover {
    transform: scale(1.2, 1.2);
    opacity: 100%;
}

.door-text {
    width: 40%;
    height: 230px;
    float: right;
    background-color: #E8F6FF;
}

.door-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.bedroom {
    position: relative;
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: right;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.bedroom img {
    width: 100%;
    position: absolute;
    top: -120px;
    transition: 3s;
    opacity: 40%;
}

.bedroom img:hover {
    transform: scale(1.2, 1.2);
    opacity: 100%;
}

.bedroom-text {
    width: 40%;
    height: 230px;
    float: left;
    background-color: #E8F6FF;
}

.bedroom-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.restaurant {
    position: relative;
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: left;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.restaurant img {
    width: 100%;
    position: absolute;
    top: -180px;
    transition: 3s;
    opacity: 40%;
}

.restaurant img:hover {
    transform: scale(1.2, 1.2);
    opacity: 100%;
}

.restaurant-text {
    width: 40%;
    height: 230px;
    float: right;
    background-color: #E8F6FF;
}

.restaurant-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.final {
    background-color:  #EAEFF2;
    text-align: center;
    padding: 40px;
}

.final h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.final p {
    text-decoration: underline;
    line-height: 30px;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 1041px) {

    .one, .two, .three, .four, .five, .final {
        height: 34vh;
    }

    .overlay {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.61);
        position: absolute;
        transition: 3s;
    }

    .overlay:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .sunset {
        height: 100%;
        background-image: url('../images/sunset.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .sunset img {
        display: none;
    }

    .sunset-text {
        height: 100%;
    }

    .sunset-text p {
        padding: 25% 30px;
    }

    .door {
        height: 100%;
        background-image: url('../images/abre-portas.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .door img {
        display: none;
    }

    .door-text {
        height: 100%;
    }

    .door-text p {
        padding: 25% 30px;
    }

    .bedroom {
        height: 100%;
        background-image: url('../images/bedroom.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .bedroom img {
        display: none;
    }

    .bedroom-text {
        height: 100%;
    }

    .bedroom-text p {
        padding: 28% 30px;
    }

    .restaurant {
        height: 100%;
        background-image: url('../images/restaurant.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .restaurant img {
        display: none;
    }

    .restaurant-text {
        height: 100%;
    }

    .restaurant-text p {
        padding: 25% 30px;
    }
    
    .final {
        background-color:  #EAEFF2;
        text-align: center;
        padding: 20px;
    }
    
    .final h3 {
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .final p {
        font-size: 13px;
        line-height: 25px;
    }
}

@media screen and (max-width: 499px) {

    header .center img {
        width: 150px;
        float: none;
        padding: 20px 0;
        margin: 0 auto;
        display: block;
    }

    .form-box {
        width: 300px;
        margin-right: 0;
        margin: 0 auto;
        float: none;
    }

    .banner img {
        display: none;
    }

    .one {
        text-align: center;
        background-color: #EAEFF2;
        width: 100%;
        line-height: 35px;
        padding: 15%;
    }
    
    .one h2 {
        font-weight: 300;
    }

    .overlay {
        display: none;
    }

    .clear {
        display: none;
    }

    .textbg {
        background-color: rgba(255, 255, 255, 0.466);
        width: 80%;
        margin: 0 auto;
        border-radius: 6px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .sunset, .door, .bedroom, .restaurant {
        display: none;
    }

    .sunset-text, .door-text, .bedroom-text, .restaurant-text {
        width: 100%;
        float: none;
    }

    .sunset-text {
        height: 100%;
        background-image: url('../images/sunset.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    
    .sunset-text p {
        text-align: center;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        text-shadow: 1px 1px 1px whitesmoke;
    }

    .door-text {
        height: 100%;
        background-image: url('../images/abre-portas.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    
    .door-text p {
        text-align: center;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        text-shadow: 1px 1px 1px whitesmoke;
    }

    .bedroom-text {
        height: 100%;
        background-image: url('../images/bedroom.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    
    .bedroom-text p {
        text-align: center;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        text-shadow: 1px 1px 1px whitesmoke;
    }

    .restaurant-text {
        height: 100%;
        background-image: url('../images/restaurant.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    
    .restaurant-text p {
        text-align: center;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        text-shadow: 1px 1px 1px whitesmoke;
    }
}

@media screen and (max-width: 428px) {
    .one {
        padding-top: 6%;
    }

    .final {
        height: 350px;
    }
}